body {
    margin: 0;
}
main {
    /*display: table;*/
}

#main-header {
    width: 100vw;
    height: 100vh;
    background-color: #222;
    /*background-image: url(./cool-background_edited.jpg);*/
    background-size:100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#title-div {
    text-align: left;
    display: inline-block;
}
#header-title {
    font-size: 48px;
    font-family: monospace;
    color: rgb(21, 185, 226);
    margin: 0;
}
#header-caption {
    font-size: 24px;
    font-style: italic;
    font-family: serif;
    color: #FFF;
    margin: 0;
    padding: 0 0 0 16px;
    
}
#nav-bar {
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color: rgb(21, 185, 226);
    width: 100vw;
}
#nav-title {
    width: 50%;
    padding: 0 0 0 20px;
    display: inline-block;
    color: #222;
    font-size: 32px;
    font-family: monospace;
    font-weight: 600;
}
#nav-list {
    width: 50%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;

}
#nav-item {
    
    /*box-sizing: border-box;*/
}
.nav-a {
    text-decoration: none;
    color: #FFF;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 400;
}